[submodule "comet-101"]
	path = comet-101
	url = https://github.com/sdsc-hpc-training-org/comet-101.git
[submodule "expanse-101"]
	path = expanse-101
	url = https://github.com/sdsc-hpc-training-org/expanse-101.git
[submodule "notebooks-101"]
	path = notebooks-101
	url = https://github.com/sdsc-hpc-training-org/notebooks-101.git
[submodule "demo-tutorial"]
	path = demo-tutorial
	url = https://github.com/sdsc-hpc-training-dev/demo-tutorial
[submodule "agg-tutorial"]
	path = agg-tutorial
	url = https://github.com/sdsc-hpc-training-dev/agg-tutorial.git
